#pagelet_trending_tags_and_topics,
#topnews_main_stream_408239535924329,
#u_jsonp_10_2,
#fb_stories_card_root,
.ego_section {
  visibility: hidden !important;
  height: 0 !important;
  font-size: 0 !important;
  overflow: hidden !important;
  display: none !important;
}

div[id^=more_pager_pagelet_] {
  margin-top: 10000px !important;
}
